/* Header */

/* css reset */
* {
  font-family: "Roboto", sans-serif;
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  margin: 1rem;
}

.navigation {
  display: flex;
  gap: 10px;
}

.navigation.a {
  text-decoration: none;
  border: 3px solid;
}
.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Main */

.hero-upper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}

.testimony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimony h2 {
  font-style: italic;
}

.testimony-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
}

.account-profile {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 0;
}

.account-profile p {
  font-style: italic;
}

.review-section {
  flex-basis: 70%;
  flex-flow: column wrap;
}

.review-section.h5 {
  align-self: center;
  width: fit-content;
}

.review-section img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.message-us {
  flex-basis: 30%;
  flex-grow: 0;
  background-color: darkcyan;
  border-radius: 8px;
  max-height: 500px;
  padding: 10px;
}

.input-message-us {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-us button {
  width: fit-content;
  align-self: center;
  padding: 5px 10px 5px 10px;
}

.our-package {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.package-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  color: white;
  width: 100%;
  font-size: 30px;
  padding: 50px 0;
}

.location-list {
  display: flex;
  flex-flow: row wrap;
}

.location {
  flex-basis: 33.3%;
  display: flex;
  flex-direction: row;
}

.location p {
  margin-right: 5px;
}

.closing {
  text-align: center;
  background-color: gray;
  color: white;
  padding: 10px 0;
}

.footer {
  text-align: center;
}

/* responsive design */
@media screen and (max-width: 600px) {
  .title-header {
    background-color: red;
  }
}
